<footer>
  <div class="p-[1px] bg-white"></div>
  <section class="bg-theme-purple text-white px-4 py-12">
    <section class="container flex flex-col lg:flex-row gap-8 items-center">
      <img src="/public/images/WiP-LOGO-POZIOM-2.png" class="max-w-[256px]" />
      <section>
        <p>Sąd Rejonowy Poznań – Nowe Miasto i Wilda w Poznaniu,</p>
        <p>kapitał zakładowy: 5.000 zł, KRS 0000000000, NIP 0000000000</p>
      </section>
      <a class="group ml-auto p-4 hover:bg-transparent">
        <svg
          width="23.8125mm"
          height="23.812504mm"
          viewBox="0 0 23.812501 23.812504"
          version="1.1"
          id="svg1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:svg="http://www.w3.org/2000/svg"
        >
          <defs id="defs1">
            <clipPath clipPathUnits="userSpaceOnUse" id="clipPath9">
              <path
                d="M 0,9231.217 H 1920 V 0 H 0 Z"
                transform="translate(-1756.3,-197.23)"
                id="path9"
              />
            </clipPath>
          </defs>
          <g id="layer1" transform="translate(-202.93542,-114.56452)">
            <g
              id="g3125"
              transform="matrix(0.26458333,0,0,0.26458333,-210.96938,-2432.1543)"
            >
              <path
                id="path8"
                d="m 0,0 h -7.64 v 11.74 c 0,1.24 -0.33,2.23 -0.98,2.94 -0.65,0.72 -1.52,1.07 -2.61,1.07 -1.15,0 -2.04,-0.35 -2.69,-1.07 -0.65,-0.71 -0.98,-1.7 -0.98,-2.94 V 0 h -7.64 v 21.88 h 7.64 v -3.12 c 0.68,0.98 1.59,1.78 2.73,2.4 1.15,0.61 2.46,0.91 3.94,0.91 2.52,0 4.52,-0.84 6.01,-2.51 C -0.74,17.88 0,15.61 0,12.75 Z m -27.48,25.02 c -0.82,-0.75 -1.89,-1.11 -3.21,-1.11 -1.36,0 -2.44,0.36 -3.26,1.11 -0.82,0.74 -1.23,1.67 -1.23,2.79 0,1.14 0.41,2.09 1.23,2.84 0.82,0.76 1.9,1.13 3.26,1.13 1.32,0 2.39,-0.37 3.21,-1.13 0.82,-0.75 1.23,-1.7 1.23,-2.84 0,-1.12 -0.41,-2.05 -1.23,-2.79 M -26.91,0 h -7.64 v 21.88 h 7.64 z m 8.32,47.64 c -18.64,0 -33.75,-15.11 -33.75,-33.75 0,-18.64 15.11,-33.75 33.75,-33.75 18.63,0 33.75,15.11 33.75,33.75 0,18.64 -15.12,33.75 -33.75,33.75"
                class="group-hover:fill-theme-yellow fill-theme-cyan"
                transform="matrix(1.3333333,0,0,-1.3333333,1634.1513,9688.9141)"
                clip-path="url(#clipPath9)"
              />
            </g>
          </g>
        </svg>
      </a>
    </section>
  </section>
  <section>
    <section class="container text-center p-4">
      <p>
        Copyright 2024 © wiemipowiem.pl - system do obsługi zgłoszeń
        sygnalistów
      </p>
    </section>
  </section>
</footer>
