<footer>
  <div class="p-[1px] bg-white"></div>
  <section class="bg-theme-purple text-white px-4 py-12">
    <section class="container flex flex-col lg:flex-row gap-2 items-center">
      <img src="/public/images/logo_on_dark.webp" class="max-w-[256px]" />
      <section>
        <p>Sąd Rejonowy Poznań – Nowe Miasto i Wilda w Poznaniu,</p>
        <p>kapitał zakładowy: 5.000 zł, KRS 0000000000, NIP 0000000000</p>
      </section>
      <a class="ml-auto p-4 bg-theme-cyan"></a>
    </section>
  </section>
  <section>
    <section class="container text-center p-4">
      <p>
        Copyright 2024 © wiemipowiem.pl - system do obsługi zgłoszeń
        sygnalistów
      </p>
    </section>
  </section>
</footer>
