<header class="relative z-[999]">
  <section
    class="container p-4 mx-auto flex gap-2 justify-between items-center z-[999] bg-transparent"
  >
    <a href="/"
      ><img src="/images/logo_on_white.webp" class="w-full max-w-48"
    /></a>
    <nav class="hidden lg:flex gap-2 z-50">
      <a class="rounded-full bg-theme-purple-lightest p-2 text-white">Oferta</a>
      <a class="rounded-full bg-theme-purple-lightest p-2 text-white">Cennik</a>
      <a class="rounded-full bg-theme-purple-lightest p-2 text-white"
        >Kontakt</a
      >
    </nav>
  </section>
</header>
