@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* Basic styling */
body {
  font-family: Poppins;
  font-size: 20px;
}
h1 {
  font-family: Poppins;
  @apply text-[72px] lg:text-[96px] uppercase font-black my-12;
}

h2 {
  font-family: Montserrat;
  @apply text-3xl lg:text-4xl font-bold my-4 lg:leading-12;
}

h3 {
  font-family: Poppins;
  @apply text-2xl lg:text-3xl font-bold my-2;
}
p {
  @apply my-4 lg:leading-10;
}

a,
button {
  font-family: Montserrat;
  @apply text-2xl w-fit p-4 rounded-full px-8  uppercase cursor-pointer font-black leading-4 hover:bg-theme-yellow focus:bg-theme-yellow focus:border-none focus:outline-none;
}
input,
textarea {
  @apply text-black rounded-[4em] p-8 px-12 focus:outline-none border-4 border-transparent focus:border-theme-yellow;
}

input::placeholder {
  @apply text-black;
}
textarea::placeholder {
  @apply text-white;
}
textarea {
  @apply text-white bg-transparent border-[0.25em] border-white;
}
.container {
  @apply mx-auto px-4;
}

/* Header */
#header {
  @apply relative z-[999];
}
#header-container {
  @apply container p-4 mx-auto flex gap-2 justify-between items-center z-[999] bg-transparent;
}
#header-container #logo {
  @apply hover:bg-transparent focus:bg-transparent rounded-none;
}
#header-container a.link {
  @apply rounded-full bg-theme-purple-lightest p-2 px-8 text-white focus:bg-theme-purple focus:text-theme-cyan hover:bg-theme-purple hover:text-theme-cyan z-[999];
}
/* Footer * /

/*Home - First section */
#first-section {
  @apply bg-theme-purple text-white py-12 lg:pb-24;
}
#first-section-container {
  @apply relative container mx-auto flex flex-col lg:grid lg:grid-cols-2 gap-2;
}
#first-section .first-column {
  @apply relative z-50 flex flex-col gap-2;
}
#first-section .second-column {
  @apply relative hidden lg:flex items-center justify-center;
}
#first-section #logo {
  @apply w-full lg:w-1/2;
}
#first-section .circle-full {
  @apply rounded-full bg-theme-cyan p-12 absolute right-0 top-0;
}
#first-section .circle-half {
  @apply rounded-tl-full rounded-tr-full bg-theme-purple-lightest absolute h-12 w-24 rotate-90 -bottom-32 left-1/2;
}
#first-section .bricks {
  @apply absolute top-28 inset-0 max-w-[512px] mx-auto flex flex-col w-full;
}
#first-section .bricks .brick {
  @apply -mb-6 p-20 z-10 skew-x-[-15deg] rotate-[-15deg];
}
#first-section .bricks .brick.bg-theme-purple-lighter {
  @apply rotate-[15deg] skew-x-[15deg];
}
#first-section .bricks .brick:last-child {
  @apply z-[999];
}
#first-section #photo {
  @apply z-50 w-2/3 absolute -top-28 inset-0 mx-auto bg-cover;
}

/* Home - Second section */
#second-section {
  @apply relative;
}
#second-section-container {
  @apply container mx-auto py-12;
}
#second-section .cards {
  @apply flex flex-col gap-6 lg:grid lg:grid-cols-4 text-center;
}
#second-section .cards .card {
  @apply flex flex-col gap-4;
}

/* Home - Third section */
#third-section {
  @apply bg-theme-purple text-white;
}
#third-section-container {
  @apply container flex flex-col gap-8 py-12;
}
#third-section .cards {
  @apply flex flex-col gap-6 lg:grid lg:grid-cols-3 text-center;
}
#third-section .cards .card .content {
  @apply bg-white text-black rounded-b-xl p-4;
}
#third-section .cards .card .content ul {
  @apply list-disc p-4 marker:text-theme-purple-lightest flex flex-col gap-4;
}
#third-section .cards .card h3 {
  @apply rounded-t-xl bg-theme-purple-lighter text-theme-yellow uppercase font-bold p-10 m-0;
}

/* Home - Fourth section */
#fourth-section {
  @apply relative;
}
#fourth-section-container {
  @apply container relative px-4 py-12 mb-72;
}
#fourth-section-overlay {
  @apply absolute inset-0;
}
#fourth-section-overlay img {
  @apply hidden lg:flex absolute -top-48 right-24 max-w-[512px] z-10;
}
#fourth-section #bubbles {
  @apply grid grid-cols-2 lg:flex w-[1275px] translate-x-4 mx-auto lg:flex-col gap-12 bg-cover pt-12 z-40;
}

/* Home - Fifth section */
#fifth-section {
  @apply bg-theme-purple text-white;
}
#fifth-section #fifth-section-container {
  @apply container mx-auto px-4 py-12 flex flex-col lg:grid lg:grid-cols-7;
}
#fifth-section .attention {
  @apply bg-theme-purple-lightest rounded-full text-2xl p-4 font-black uppercase w-fit;
}
#fifth-section .disclaimer-desktop {
  @apply hidden lg:flex;
}
#fifth-section .disclaimer-mobile {
  @apply flex flex-col gap-2 lg:hidden;
}
#fifth-section .cards {
  @apply lg:col-span-3 grid grid-cols-3 gap-4 items-center justify-center;
}
#fifth-section .first-card {
  @apply bg-theme-purple-lighter w-48 h-fit pb-24 text-center rounded-full shadow-[1em_1em_0_0_rgba(0,0,0,0.25)];
}
#fifth-section .first-card .heading {
  @apply bg-theme-purple-lighter rounded-full m-0 w-24 h-24 lg:w-48 lg:h-48 text-center justify-center items-center flex border-[1em] border-white shadow-[0_1em_0_0_rgba(0,0,0,0.25)] flex-col uppercase;
}
#fifth-section .first-card .heading h1 {
  @apply m-0 text-5xl;
}
#fifth-section .first-card .heading h2 {
  @apply m-0 text-xl font-black;
}
/* Home - Seventh section*/
#seventh-section {
  @apply relative z-[999] bg-theme-purple text-white;
}
#seventh-section-container {
  @apply container mx-auto px-4 py-12 flex flex-col lg:grid lg:grid-cols-2 gap-2;
}
#seventh-section #contact-form {
  @apply flex flex-col gap-4;
}
#seventh-section #contact-form form {
  @apply flex flex-col gap-4;
}

/* Privacy */

/* Blog - Page */
/*Home - First section */
#blog-page {
  @apply bg-theme-purple text-white py-12 lg:pb-24;
}
#blog-page-container {
  @apply relative container mx-auto flex flex-col lg:grid lg:grid-cols-2 gap-2;
}
#blog-page .first-column {
  @apply relative z-50 flex flex-col gap-2 pr-32;
}
#blog-page .second-column {
  @apply relative hidden lg:flex items-center justify-center;
}
#blog-page #logo {
  @apply w-full lg:w-1/2;
}
#blog-page .circle-full {
  @apply rounded-full bg-theme-cyan p-12 absolute right-0 top-0;
}
#blog-page .circle-half {
  @apply rounded-tl-full rounded-tr-full bg-theme-purple-lightest absolute h-12 w-24 rotate-90 -bottom-32 left-1/2;
}
#blog-page .bricks {
  @apply absolute top-28 inset-0 max-w-[512px] mx-auto flex flex-col w-full;
}
#blog-page .bricks .brick {
  @apply -mb-6 p-20 z-10 skew-x-[-15deg] rotate-[-15deg];
}
#blog-page .bricks .brick.bg-theme-purple-lighter {
  @apply rotate-[15deg] skew-x-[15deg];
}
#blog-page .bricks .brick:last-child {
  @apply z-[999];
}
#blog-page #photo {
  @apply z-50 w-2/3 absolute -top-28 inset-0 mx-auto bg-cover;
}

/* Blog - Article */
